@using Syncfusion.Blazor.Buttons
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InternshipApp</a>
        <button type="button" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>

            @if (IsAdmin)
            {
                <NavLink class="nav-link" href="/students" Match="NavLinkMatch.All">
                    <span class="oi oi-people"></span> Manage Students
                </NavLink>

                <NavLink class="nav-link" href="/admin-instructors" Match="NavLinkMatch.All">
                    <span class="oi oi-task"></span> Manage Instructors
                </NavLink>

                <NavLink class="nav-link" href="/admin-companies" Match="NavLinkMatch.All">
                    <span class="oi oi-monitor"></span> Manage Companies
                </NavLink>

                <NavLink class="nav-link" href="/admin-skills" Match="NavLinkMatch.All">
                    <span class="oi oi-cog"></span> Manage Skills
                </NavLink>

                <br />

                <SfButton OnClick="@OnLogout" Content="Logout" IconCss="oi oi-account-logout" />
            }
            else if (IsRecruiter)
            {
                <NavLink class="nav-link" href="/manage-jobs" Match="NavLinkMatch.All">
                    <span class="oi oi-briefcase"></span> Manage Jobs
                </NavLink>

                <NavLink class="nav-link" href="/applications" Match="NavLinkMatch.All">
                    <span class="oi oi-clipboard"></span> Applications
                </NavLink>

                <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                    <span class="oi oi-chat"></span> Chat
                </NavLink>

                <br />

                <SfButton OnClick="@OnLogout" Content="Logout" IconCss="oi oi-account-logout" />
            }
            else if (IsTeacher)
            {
                <NavLink class="nav-link" href="/students" Match="NavLinkMatch.All">
                    <span class="oi oi-people"></span> Students
                </NavLink>

                <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                    <span class="oi oi-chat"></span> Chat
                </NavLink>

                <br />

                <SfButton OnClick="@OnLogout" Content="Logout" IconCss="oi oi-account-logout" />
            }
            else if (IsStudent)
            {
                <NavLink class="nav-link" href=@($"/student/{this.UserId}") Match="NavLinkMatch.All">
                    <span class="oi oi-person"></span> My Profile
                </NavLink>

                <NavLink class="nav-link" href="/companies" Match="NavLinkMatch.All">
                    <span class="oi oi-monitor"></span> Companies
                </NavLink>

                <NavLink class="nav-link" href="/jobs" Match="NavLinkMatch.All">
                    <span class="oi oi-briefcase"></span> Jobs
                </NavLink>

                <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                    <span class="oi oi-chat"></span> Chat
                </NavLink>

                <br />

                <SfButton OnClick="@OnLogout" Content="Logout" IconCss="oi oi-account-logout" />
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
