@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

<Stack Horizontal="false" Style="width:auto;margin:20px 40px">
    <Stack Horizontal Style="width:100%" Wrap=false>
        <Stack Horizontal VerticalAlign="Wave5.UI.Alignment.End" ClassName="matching-pane">
            <SfTooltip Content="@States.Matching.ToString()">
                <label class="matching-point">@States.Matching</label><b class="matching-sub">Matching</b>
            </SfTooltip>
        </Stack>
        <Stack Horizontal="false" Style="width:100%" HorizontalAlign="Wave5.UI.Alignment.Center" ClassName="info">
            <div class="e-avatar e-avatar-xlarge e-avatar-circle image"></div>
            <h1>
                <b>
                    @States.StudentName
                </b>
            </h1>

            <h2>
                Has applied for 
                <b>
                    @States.JobName
                </b>
            </h2>
            <CommandBarView 
                AcceptCallback="@OnAccept" 
                ChatCallback="OnChat" 
                SendEmailCallback="OnSendEmail" 
                RejectCallback="@OnReject" />
        </Stack>
    </Stack>

    <Stack>
        <Stack Style="margin-bottom:10px">
            <h2>&#x2705; Application Status</h2>
            <Stack Style="margin:10px">
                <label>
                    @States.Status.ToString()
                </label>
            </Stack>
        </Stack>

        <Stack Style="margin-bottom:10px">
            <h2>&#x1F44B; Introduction</h2>
            <Stack Style="margin:10px">
                <label>
                    @States.Bio
                </label>
            </Stack>
        </Stack>

        <Stack Style="margin:10px">
            <h2>
                &#x1F4D6; Education
            </h2>
            <label>
                International University, HCM National University
            </label>
            <label>
                @GetOrderFromInt(States.Year) year, CSE student
            </label>
            <label>
                GPA: @States.Gpa. Credits acchieved: @States.Credits
            </label>
        </Stack>

        <Stack Style="margin-bottom:10px">
            <h2>
                &#x1F947; Acchieved Skills
            </h2>
            <SkillTagList StudentId="@StudentId">

            </SkillTagList>
        </Stack>

        <Stack Style="margin:10px">
            <h2>
                &#x1F517; External Links
            </h2>
            <SfButton CssClass="github github-logo image" OnClick="OnOpenGithubProfile">

            </SfButton>
        </Stack>

        <Stack Style="margin:10px">
            <SfButton CssClass="opencv-btn" Content="See Student's CV" OnClick="OnOpenCvUrl">

            </SfButton>
        </Stack>
    </Stack>
</Stack>


<style>
    h2{
        margin-top:18px;
    }

    .opencv-btn{
        max-width: 200px;
    }

    .github.github-logo{
        width: 70px;
        height: 70px;
    }

    .github.github-logo.image{
        background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
        background-size: contain;
    }

    .matching-pane{
        flex: 1;
    }

    .info {
        flex: 3;
    }

    .matching-point{
        font-size:100pt
    }

    .matching-sub{
        font-size:12pt;
        margin: 0px 10px 45px 10px;
    }

    .e-avatar.image {
        background-image: url("@(string.IsNullOrEmpty(States.ImgUrl) ? "https://i.imgur.com/WxNkK7J_d.webp" : States.ImgUrl)");
        background-size: contain;
    }

    .e-avatar.e-avatar-xlarge{
        border-radius:50%;
        height:100px;
        width:100px;
        border:2px;
        border-color: gold;
        margin-bottom: 10px;
    }
</style>