@namespace InternshipApp.Portal.Views

<Stack Horizontal>
    <div class="e-avatar e-avatar-xlarge image"></div>
    <Stack Horizontal=false Style="margin-left:20px">
        <h1>
            @States.Title
        </h1>

        <h3>
            @States.Address
        </h3>

        <h3>
            @States.CompanyType
        </h3>

        <a href="@States.CompanyWebsite" target="blank">
            Company website
        </a>
    </Stack>
</Stack>

<br />

<Stack>
    <h1>
        About
    </h1>

    <label>
        @States.Description
    </label>
</Stack>

<style>
    .e-avatar.image {
        background-image: url("@(string.IsNullOrEmpty(States.ImgUrl) ? "https://www.market-research-companies.in//images/default.jpg" : States.ImgUrl)");
        background-size: contain;
    }

    .e-avatar.e-avatar-xlarge{
        border-radius:3%;
        height:200px;
        width:200px;
        border: solid;
        border-width: 2px;
        border-color: gold;
    }
</style>