@page "/"

@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Spinner

<PageTitle>Home</PageTitle>

@if (string.IsNullOrEmpty(LoginUser?.UserName))
{
    <h1>
        Hello @Role?.ToLower()!
    </h1>
    <h4>Welcome to Internship App! Please login!</h4>
    <button @onclick=@ToggleLogin>
        Login
    </button>
    <br />
}
else
{
    <h1>
        Hello @(LoginUser?.FullName)!
    </h1>
    <h4>Welcome to Internship App!</h4>
    <br />
}

@if (IsInInternshipPeriod)
{
    <p>
        The internship <b>@InternshipTitle</b> begins and opens for registration of students on <b>@StartTime.ToLongDateString()</b> until <b>@CloseRegistrationTime.ToLongDateString()</b>. After this time, students will no longer be able to register.
    </p>
    <p>
        Participants will work on this program until <b>@SummaryTime.ToLongDateString()</b> which is the deadline to submit final reports and scores. Instructors will work on the submitted forms to evaluate students' work. Final result is expected to be available on <b>@EndTime.ToLongDateString()</b>.
    </p>
}
else
{
    <p>There is currently no internship schedule. Please contact system Admin for more details.</p>
}

<SfDialog Height="@(IsLogin? "35%" : "80%")" Width="35%" Target="#target" ShowCloseIcon="true" @bind-Visible="Visible" >
    <DialogTemplates>
        <Header>
            <div>@(IsLogin ? "Login" : "Register As Student")</div>
        </Header>
        <Content>
            <SfSpinner Visible=@IsProcessing Label="Loging in..."/>
            <Stack Style="width:100%;height:100%">
                @if (IsLogin)
                {
                    <FluentTextField @bind-Value=@Username Placeholder="Your Username">
                        <label>Username</label>
                    </FluentTextField>

                        <FluentTextField Value=@Password TextFieldType="TextFieldType.Password" Placeholder="Your password" ValueChanged="OnUpdatePassword" @onkeydown=@EnterEventHandler>
                        <label>Password</label>
                    </FluentTextField>

                    <label class="msg">
                        @Msg
                    </label>

                    <br />

                    <SfButton Content="Login" OnClick="OnLoginButtonClicked" Disabled=@IsDisable/>

                    <br />

                    <span>
                        Don't have account? Register as student: 
                        <button class="text-btn" @onclick=@ToggleRegister>
                            Register
                        </button>
                    </span>
                    
                }
                else
                {
                    <FluentTextField @bind-Value=@Name Placeholder="Your Name" Required>
                        <label>Name</label>
                    </FluentTextField>

                    <FluentTextField Value=@StudentId Placeholder="Your Id"  Required @onchange=@OnStudentIdChanged>
                        <label>Student Id</label>
                    </FluentTextField>

                    <FluentTextField @bind-Value=@Email Placeholder="Your Contact Email">
                        <label>Email</label>
                    </FluentTextField>

                    <FluentNumberField TValue=@int @bind-Value=@Year Placeholder="Student Year" Required>
                        <label>Year</label>
                    </FluentNumberField>

                    <FluentNumberField TValue=@int @bind-Value=@Credits Placeholder="Credits Acchieved">
                        <label>Credits</label>
                    </FluentNumberField>

                    <FluentNumberField TValue=@Double @bind-Value=@GPA Placeholder="Accumulated Gpa">
                        <label>Gpa</label>
                    </FluentNumberField>

                    <FluentTextField @bind-Value=@Username Placeholder="Your Username" Required>
                        <label>Username</label>
                    </FluentTextField>

                    <FluentTextField @bind-Value=@Password TextFieldType="TextFieldType.Password" Placeholder="Your password" Required>
                        <label>Password</label>
                    </FluentTextField>

                    <label class="msg">
                        @Msg
                    </label>

                    <br />

                    <SfButton Content="Reset Fields" OnClick="OnResetRegForm"/>

                    <br />

                    <SfButton Content="Create Account" OnClick="OnRegisterButtonClicked" />

                    <br />

                    <span>
                        Already have account? Login:
                        <button class="text-btn" @onclick=@ToggleRegister>
                            Login
                        </button>
                    </span>
                }
            </Stack>
        </Content>
        <FooterTemplate>
            <div>International University - Internship App</div>
        </FooterTemplate>
    </DialogTemplates>
</SfDialog>

<style>
    .msg{
        white-space: pre-wrap;
        color:darkred;
    }
    .text-btn{
        color:mediumblue;
        background:none;
        border:none;
        
    }
    .text-btn:hover{
        color:mediumblue;
        background:none;
        border:none;
    }
</style>