@namespace InternshipApp.Portal.Views
@using Wave5.UI
@using Wave5.UI.Forms;

<FluentDataGridRow TItem=StudentSkillListRowViewStates
                           RowType="DataGridRowType.Default">

    <Stack VerticalAlign="Wave5.UI.Alignment.Center">
        <FluentDataGridCell GridColumn=0>
            <EditForm EditContext="Context">
                <Stack>
                    <FluentTextField @bind-Value=@States.Description />
                </Stack>
            </EditForm>
        </FluentDataGridCell>
    </Stack>

    <Stack VerticalAlign="Wave5.UI.Alignment.Center">
        <FluentDataGridCell GridColumn=2>
            <EditForm EditContext="Context">
                <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
                    <label for="skillCombobox"> Selected Skill </label>
                    <FluentCombobox Id="skillCombobox" Options="@States.SkillOptions()" @bind-Value="@States.SkillName">

                    </FluentCombobox>
                </Stack>
            </EditForm>
        </FluentDataGridCell>
    </Stack>

    <Stack VerticalAlign="Wave5.UI.Alignment.Center">
        <FluentDataGridCell GridColumn=2>
            <EditForm EditContext="Context">
                <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
                    <label for="levelCombobox"> Selected Skill </label>
                    <FluentCombobox Id="levelCombobox" Options="@States.LevelOptions()" @bind-Value="@States.SelectedLevel">

                    </FluentCombobox>
                </Stack>
            </EditForm>
        </FluentDataGridCell>
    </Stack>

    <Stack VerticalAlign="Wave5.UI.Alignment.Center">
        <FluentDataGridCell GridColumn=4>
            <FluentButton @onclick=@(this.FormRequest?.Action == FormAction.Add?  OnAdd : OnDelete)>
                @(this.FormRequest?.Action == FormAction.Add ? "Add" : "Delete")
            </FluentButton>
        </FluentDataGridCell>
    </Stack>
</FluentDataGridRow>