@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Wave5.UI

<Stack HorizontalAlign="Wave5.UI.Alignment.Center">
    <div class="avatar">
        <img />

    </div>
    <Stack>
        <h1>
            @States.Name
        </h1>
    </Stack>
    <StudentActionBar/>
</Stack>

<Stack Style="margin:10px">
    <Stack Style="margin:10px">
        <h2>
            Introduction
        </h2>
        <label>
            @States.Bio
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Education
        </h2>
        <label>
            International University, HCM National University
        </label>
        <label>
            @GetOrderFromInt(States.Year) year, CSE student
        </label>
        <label>
            GPA: @States.Gpa. Credits acchieved: @States.Credits
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Skills
        </h2>
        <SkillTagList>

        </SkillTagList>
    </Stack>
</Stack>

<StudentInfoFormPanel />