@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Wave5.UI

<Stack HorizontalAlign="Wave5.UI.Alignment.Center">
    <div class="e-avatar e-avatar-xlarge e-avatar-circle image"></div>

    <br />

    <Stack>
        <h1>
            @States.Name
        </h1>
    </Stack>
    <CommandBarView EditCallback="OnEdit" ApplyListCallback="OnOpenApplyList"/>
</Stack>

<Stack Style="margin:10px">
    <Stack Style="margin:10px">
        <h2>
            Introduction
        </h2>
        <label>
            @States.Bio
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Education
        </h2>
        <label>
            International University, HCM National University
        </label>
        <label>
            @GetOrderFromInt(States.Year) year, CSE student
        </label>
        <label>
            GPA: @States.Gpa. Credits acchieved: @States.Credits
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Skills
        </h2>
        <SkillTagList StudentId="@States.Id" IsEditable=true OnEditButtonClicked="OnEditSkill">

        </SkillTagList>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            External Links
        </h2>
        <SfButton CssClass="github github-logo image" OnClick="OnOpenGithubProfile">

        </SfButton>
    </Stack>

    <Stack Style="margin:10px">
        <SfButton CssClass="opencv-btn" Content="See Student's CV" OnClick="OnOpenCVUrl">

        </SfButton>
    </Stack>
</Stack>

<StudentInfoFormPanel FormRequest="StudentFormRequest" FormResultCallback="OnFormResultReceived"/>

<PopupView IsEditSkillView=true StudentId="@States.Id" Context=PopupContext />

<style>
    .opencv-btn {
        max-width: 200px;
    }

    .github.github-logo {
        width: 70px;
        height: 70px;
    }

    .github.github-logo.image {
        background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
        background-size: contain;
    }

    .e-avatar.image {
        background-image: url("@States.ImgUrl");
        background-size: contain;
    }

    .e-avatar.e-avatar-xlarge {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 2px;
        border-color: gold;
    }
</style>