@namespace InternshipApp.Portal.Views
@using InternshipApp.Core.Entities;
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons
@using Wave5.UI

<Stack HorizontalAlign="Wave5.UI.Alignment.Center">
    <div class="e-avatar e-avatar-xlarge e-avatar-circle image"></div>

    <br />

    <Stack>
        <h1>
            @States.Name
        </h1>
    </Stack>

    @if (States.InternGroupId < 1)
    {
        <label>
            <mark style="background-color: #FFFF00"><i>*You are not added to any intern group!</i></mark>
        </label>
        <label>
            <mark style="background-color: #FFFF00">Please wait until the manager from your department add this account to an intern group to finish the registration process, then you can apply for jobs.</mark>
        </label>
    }

    @if(IsFinished)
    {
        <CommandBarView ViewResultCallBack="OnViewResult"/>
    }
    else
    {
        <CommandBarView EditCallback="OnEdit" ApplyListCallback="OnOpenApplyList"/>
    }
</Stack>

<Stack Style="margin:10px">
    @if (IsFinished)
    {
        <Stack Style="margin:10px;background-color:#FFFF00;" HorizontalAlign="Wave5.UI.Alignment.Center">
            <h2>
                &#x1F38A Congratulation on your success of finishing internship program at International University! &#x1F389
            </h2>
            <h4>
                You can now click the "View Result" button on Command Bar above to see your progress so far.
            </h4>
        </Stack>
    }

    <Stack Style="margin:10px">
        <h2>
            Introduction
        </h2>
        <label>
            @States.Bio
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Education
        </h2>
        <label>
            International University, HCM National University
        </label>
        <label>
            @GetOrderFromInt(States.Year) year, CSE student
        </label>
        <label>
            GPA: @States.Gpa. Credits acchieved: @States.Credits
        </label>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            Skills
        </h2>
        <SkillTagList StudentId="@States.Id" IsEditable=true OnEditButtonClicked="OnEditSkill">

        </SkillTagList>
    </Stack>

    <Stack Style="margin:10px">
        <h2>
            External Links
        </h2>
        <SfButton CssClass="github github-logo image" OnClick="OnOpenGithubProfile">

        </SfButton>
    </Stack>

    <Stack Style="margin:10px">
        <SfButton CssClass="opencv-btn" Content="See Student's CV" OnClick="OnOpenCVUrl">

        </SfButton>
    </Stack>
</Stack>

<StudentInfoFormPanel FormRequest="StudentFormRequest" FormResultCallback="OnFormResultReceived"/>

<PopupView IsEditSkillView=true Context=PopupContext />

<style>
    .opencv-btn {
        max-width: 200px;
    }

    .github.github-logo {
        width: 70px;
        height: 70px;
    }

    .github.github-logo.image {
        background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
        background-size: contain;
    }

    .e-avatar.image {
        background-image: url("@(string.IsNullOrEmpty(States.ImgUrl) ? "https://i.imgur.com/WxNkK7J_d.webp" : States.ImgUrl)");
        background-size: contain;
    }

    .e-avatar.e-avatar-xlarge {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        border: 2px;
        border-color: gold;
    }
</style>