@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Lists

<Stack Style="height:100vh;width:400px;" ClassName="conversation-view">
    @if (IsAdminViewing)
    {
        <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
            <b>
                Instructors
            </b>
        </Stack>
        <FluentDivider></FluentDivider>
        <div class="conversation-item-list flex vertical-center">
            <div class="padding">
                <SfListView DataSource="@InstructorConversations" CssClass="e-list-template">
                    <ListViewFieldSettings TValue="@ConversationListRowViewStates" Id="Id" Text="Name"></ListViewFieldSettings>
                    <ListViewTemplates TValue="ConversationListRowViewStates">
                        <Template>
                            @{
                                var currentData = context as ConversationListRowViewStates;
                                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(currentData))">
                                    <img src="@(currentData.Avatar)" class="e-avatar e-avatar-circle" />
                                    <span class="e-list-item-header">@currentData.Name</span>
                                    <span class="e-list-content">@currentData.LastMsgTime.ToString()</span>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </div>
        </div>
    }
    else if (IsTeacherViewing)
    {
        <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
            <b>
                Admin
            </b>
        </Stack>
        <FluentDivider></FluentDivider>
        <div class="conversation-item-list flex vertical-center">
            <div class="padding">
                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(AdminConversation))">
                    <img src="@(AdminConversation.Avatar)" class="e-avatar e-avatar-circle" />
                    <span class="e-list-item-header">@AdminConversation.Name</span>
                    <span class="e-list-content">@AdminConversation.LastMsgTime.ToString()</span>
                </div>
            </div>
        </div>

        <FluentDivider></FluentDivider>
        <br />

        <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
            <b>
                Recruiters
            </b>
        </Stack>
        <FluentDivider></FluentDivider>
        <div class="conversation-item-list flex vertical-center">
            <div class="padding">
                <SfListView DataSource="@RecruiterConversations" CssClass="e-list-template">
                    <ListViewFieldSettings TValue="@ConversationListRowViewStates" Id="Id" Text="Name"></ListViewFieldSettings>
                    <ListViewTemplates TValue="ConversationListRowViewStates">
                        <Template>
                            @{
                                var currentData = context as ConversationListRowViewStates;
                                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(currentData))">
                                    <img src="@(currentData.Avatar)" class="e-avatar e-avatar-circle" />
                                    <span class="e-list-item-header">@currentData.Name</span>
                                    <span class="e-list-content">@currentData.LastMsgTime.ToString()</span>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </div>
        </div>

        <FluentDivider></FluentDivider>
        <br />

        <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
            <b>
                Students
            </b>
        </Stack>
        <FluentDivider></FluentDivider>
        <div class="conversation-item-list flex vertical-center">
            <div class="padding">
                <SfListView DataSource="@StudentConversations" CssClass="e-list-template">
                    <ListViewFieldSettings TValue="@ConversationListRowViewStates" Id="Id" Text="Name"></ListViewFieldSettings>
                    <ListViewTemplates TValue="ConversationListRowViewStates">
                        <Template>
                            @{
                                var currentData = context as ConversationListRowViewStates;
                                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(currentData))">
                                    <img src="@(currentData.Avatar)" class="e-avatar e-avatar-circle" />
                                    <span class="e-list-item-header">@currentData.Name</span>
                                    <span class="e-list-content">@currentData.LastMsgTime.ToString()</span>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>
                </SfListView>
            </div>
        </div>
    }
    else if (IsStudentViewing)
    {
        <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
            <b>
                Group Manager Instructor
            </b>
        </Stack>
        <FluentDivider></FluentDivider>
        <div class="conversation-item-list flex vertical-center">
            <div class="padding">
                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(InstructorConversation))">
                    <img src="@(InstructorConversation.Avatar)" class="e-avatar e-avatar-circle" />
                    <span class="e-list-item-header">@InstructorConversation.Name</span>
                    <span class="e-list-content">@InstructorConversation.LastMsgTime.ToString()</span>
                </div>
            </div>
        </div>
    }
    else if (IsRecruiterViewing)
    {
        <Stack HorizontalAlign="Wave5.UI.Alignment.Center">
            <b>
                Department Manager Instructor
            </b>
        </Stack>
        <FluentDivider></FluentDivider>
        <div class="conversation-item-list flex vertical-center">
            <div class="padding">
                <div class="e-list-wrapper e-list-multi-line e-list-avatar" @onclick="(e => OnSelect(InstructorConversation))">
                    <img src="@(InstructorConversation.Avatar)" class="e-avatar e-avatar-circle" />
                    <span class="e-list-item-header">@InstructorConversation.Name</span>
                    <span class="e-list-content">@InstructorConversation.LastMsgTime.ToString()</span>
                </div>
            </div>
        </div>
    }
</Stack>

<style>
    .conversation-view{
        position:fixed;
        padding:12px;
        right:0px;
        top:0px;
        overflow-y:scroll;
        z-index:100;
        background:white;
        box-shadow:0px 0px 5px 0px;
    }

    #container .e-listview {
        box-shadow: 0 1px 4px #ddd;
        border-bottom: 1px solid #ddd;
    }

    .conversation-item-list {
        justify-content: center;
        min-height: 280px;
    }

    .vertical-center {
        align-items: center;
    }

    .padding {
        padding: 4px;
    }

    .flex {
        display: flex;
    }

    .flex__center {
        justify-content: center;
    }

    .margin {
        margin: 10px;
    }
</style>