@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.CircularGauge
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

<Stack Horizontal Style="width:100%; padding-right:30px" Wrap=false>
    <Stack Style="height:200px">
        <SfTooltip ID="gauge-tooltip" Content=@($"Matching point: {States.Matching}") MouseTrail>
        <SfCircularGauge Width= "400px" Height= "400px" Title="Matching" Background="#f2f2f2">
            <CircularGaugeTitleStyle Color="blue" FontWeight="bold" Size="25" ></CircularGaugeTitleStyle>
            <CircularGaugeTooltipSettings Enable="true"></CircularGaugeTooltipSettings>
            <CircularGaugeAxes>
                <CircularGaugeAxis Direction="GaugeDirection.ClockWise" StartAngle="270" EndAngle="90" Minimum="0" Maximum="100">
                    <CircularGaugeAxisLineStyle Width="5" />

                    <CircularGaugeAxisMajorTicks UseRangeColor="true">
                    </CircularGaugeAxisMajorTicks>
                    <CircularGaugeAxisMinorTicks UseRangeColor="true">
                    </CircularGaugeAxisMinorTicks>
                    <CircularGaugeAxisLabelStyle UseRangeColor="true">
                    </CircularGaugeAxisLabelStyle>

                    <CircularGaugeRanges>
                        <CircularGaugeRange Start="0" End="25" Radius="108%" Color="red">
                        </CircularGaugeRange>
                        <CircularGaugeRange Start="25" End="50" Radius="108%" Color="orange">
                        </CircularGaugeRange>
                        <CircularGaugeRange Start="50" End="75" Radius="108%" Color="green">
                        </CircularGaugeRange>
                        <CircularGaugeRange Start="75" End="100" Radius="108%" Color="cyan">
                        </CircularGaugeRange>
                    </CircularGaugeRanges>

                    <CircularGaugePointers>
                        <CircularGaugePointer Value="@States.Matching"></CircularGaugePointer>
                    </CircularGaugePointers>
                </CircularGaugeAxis>
            </CircularGaugeAxes>
        </SfCircularGauge>
    </SfTooltip>
    </Stack>

    <Stack Horizontal="false" Style="width:100%">
        <h1>
            <b>
                @States.Title
            </b>
        </h1>
        <h3>@States.CompanyName</h3>
        <SfButton Content=@(States.HasApplied ? "Already Applied" : "Apply Now") CssClass="apply-btn" OnClick="OnApply" Disabled="@States.HasApplied">

        </SfButton>

        <br />
        <FluentDivider ></FluentDivider>
        <br />

        <Stack>
            <h2>
                Job's Description
            </h2>

            <h3>
                About
            </h3>
            <label>
                @States.Description
            </label>
            <ul>
                <li>
                    Location: 
                </li>
            </ul>

            <h3>
                Requirements
            </h3>

            <ul>
                <li>
                    <h5>
                        GPA
                    </h5>
                </li>
                <label>
                        @States.Gpa
                </label>

                <li>
                    <h5>
                        Minimum acchived credits
                    </h5>
                </li>
                <label>
                        @States.Credit
                </label>

                <li>
                    <h5>
                        Remaining slots
                    </h5>
                </li>
                <label>
                        @States.Slots.ToString()
                </label>
            </ul>

            <h3>
                Skills
            </h3>
            @foreach(var x in States.Skills)
            {
                <h5>
                    @x.Name
                </h5>
                <ul>
                    <li>
                        <label>
                            Category: @x.Type.ToString()
                        </label>
                    </li>
                    <li>
                        <label>
                            Level: @States.JobSkills.FirstOrDefault(y => y.SkillId == x.Id)?.Level.ToString()
                        </label>
                    </li>
                    <li>
                        <label>
                            More info: @States.JobSkills.FirstOrDefault(y => y.SkillId == x.Id)?.Description
                        </label>
                    </li>
                </ul>
            }
        </Stack>
    </Stack>
</Stack>

<style>
    .apply-btn{
        font-size: larger;
        color: black;
        background-color: #F8CECC
    }
    .apply-btn:hover{
        font-size: larger;
        color: black;
        background-color: #FAD9D5
    }


</style>