@namespace InternshipApp.Portal.Views
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons

<SfDialog Height="50%" Width="50%" Target="#target" ShowCloseIcon="true" @bind-Visible="IsVisible" CloseOnEscape>
    <DialogEvents Closed="@OnCloseHandler" ></DialogEvents>
    @if (IsEditSkillView)
    {
        <DialogTemplates>
            <Header>
                <div>Edit Skills</div>
            </Header>
            <Content>
                <EditableStudentSkillListView StudentId="@Context.StudentId" AllSkills="@Context.AllSkills" EditSkillCallback="@OnSkillEdit">

                </EditableStudentSkillListView>
            </Content>
            <FooterTemplate>
                <div>*Notes: Unfocus an adjusted field will automatically update that row</div>
            </FooterTemplate>
        </DialogTemplates>
    }
    else if (IsSendEmailView)
    {
        <DialogTemplates>
            <Header>
                <div>Send Email to @Context?.StudentName</div>
            </Header>
            <Content>
                <Stack Style="width:100%">
                    <FluentTextField @bind-Value=@EmailSubject Placeholder="Subject">
                        <label><b>Subject</b></label>
                    </FluentTextField>
                    <br />
                    <FluentTextArea Resize="TextAreaResize.Vertical" @bind-Value=@EmailBody Placeholder="Body">
                        <label><b>Body</b></label>
                    </FluentTextArea>
                </Stack>
            </Content>
            <FooterTemplate>
                <div><FluentButton Appearance="Appearance.Accent" @onclick=@OnSendButtonClicked>Send <span class=@($"ms-Icon ms-Icon--Send")></span> </FluentButton></div>
            </FooterTemplate>
        </DialogTemplates>
    }
    else if (IsShowScoreView)
    {
        <DialogTemplates>
            <Header>
                <div>Student's Reports From @Context.CompanyName</div>
            </Header>
            <Content>
                <ManageEvaluationListView StudentId=@Context.StudentId>

                </ManageEvaluationListView>
            </Content>
            <FooterTemplate>
                @if (IsTeacherViewing)
                {
                    <div>
                        <SfButton Content="Finish Intern" OnClick=@OnFinishButtonClicked />
                    </div>
                }
            </FooterTemplate>
        </DialogTemplates>
    }
    else if (IsShowResultView)
    {
        <DialogTemplates>
            <Header>
                <div>Student's Reports From @Context.CompanyName</div>
            </Header>
            <Content>
                <ManageEvaluationListView StudentId=@Context.StudentId>

                </ManageEvaluationListView>
            </Content>
            <FooterTemplate>
                <div>
                    <SfButton Content="Finish Intern" OnClick=@OnFinishButtonClicked >
                        
                    </SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
    }
    else if (IsNotifyView)
    {
        <DialogTemplates>
            <Header>
                <div>You have new message</div>
            </Header>
            <Content>
                <div>@Context.Message</div>
            </Content>
            <FooterTemplate>
                <div>International University - Internship App</div>
            </FooterTemplate>
        </DialogTemplates>
    }

</SfDialog>

<style>

</style>