@namespace InternshipApp.Portal.Views

<Stack Horizontal>
    @if (IsStudentSkills)
    {
        if (!StudentSkills.Any())
        {
            <label> No Skill Found! </label>
        }
        foreach (var item in StudentSkills)
        {
            var skill = AllSkills.FirstOrDefault(x => x.Id == item.SkillId);
            <SkillTag Name="@(skill?.Name)" Description="@(item.Description)"/>
        }

        @if (IsEditable)
        {
            <SkillTag Name="oi oi-wrench" Description="Edit Skills" IsEditButton=true OnClickEventCallBack="@OnEditButtonClickedCallback" />
        }
    }
    else
    {
        if (!JobSkills.Any())
        {
            <label> No Skill Found! </label>
        }

        foreach (var item in JobSkills)
        {
            var skill = AllSkills.FirstOrDefault(x => x.Id == item.SkillId);
            <SkillTag Name="@(skill?.Name)" Description="@(item.Description)" />
        }
    }

    
</Stack>