@namespace InternshipApp.Portal.Views
@using InternshipApp.Core.Entities;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars

<Stack Style="padding:30px;background-color:white;margin-top:10px;">
    @if (!IsTeacherViewing)
    {
        <FluentButton class="save-btn" Appearance="Appearance.Accent" @onclick=@OnSave>
            Save
        </FluentButton>
    }

    <Stack Horizontal HorizontalAlign="Wave5.UI.Alignment.Center">
        <h3>
            <b>INTERNSHIP EVALUATION</b>
        </h3>
    </Stack>

    @*General information section*@
    @if(IsStudentViewing){
        <FluentTextArea @bind-Value=@StudentForm.GeneralInformation>
            <b>
                General information:
            </b>
        </FluentTextArea>
    }
    else
    {
        <b style="display:block;">
            General information:
        </b>
        <label>
            @StudentForm.GeneralInformation
        </label>
    }

    <br />

    @*Entities*@
    <Stack Horizontal HorizontalAlign="Wave5.UI.Alignment.Center" Style="margin:24px 0px">
        <h4>
            <b>@StudentForm.CompanyName</b>
        </h4>
    </Stack>
    <b style="display:block;">Student Name: @StudentForm.StudentName</b>
    @if (IsRecruiterViewing)
    {
        <FluentTextField @bind-Value=@StudentForm.EvaluatedBy>
            <b>Supervisor Name</b>
        </FluentTextField>

        <b>Start Date</b>
        <SfDatePicker @bind-Value=@StudentForm.StartDate />

        <b>End Date</b>
        <SfDatePicker @bind-Value=@StudentForm.EndDate/>
    }
    else
    {
        <b style="display:block;">Supervior Name: @StudentForm.EvaluatedBy</b>
        <b style="display:block;">Internship Start Date: @StudentForm.StartDate.ToLongDateString()</b>
        <b style="display:block;">Internship End Date: @StudentForm.EndDate.Date.ToLongDateString()</b>
    }

    <br />

    @*Form*@
    <b>Please CHECK the category which best describes the student’s performance in each of these areas. The options are arranged in "bad to excellent" order.</b>

    <label>
        1. FULFILMENT OF INTERNSHIP OBJECTIVES
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(FulfilmentOfInternshipObjectivesValues.Objectives_not_met.ToString().Beautify())"
            Name="options1" 
            Value="@FulfilmentOfInternshipObjectivesValues.Objectives_not_met.ToString()"
            TChecked="@string"
            @bind-Checked="@Options1"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(FulfilmentOfInternshipObjectivesValues.Few_objectives_fulfilled.ToString().Beautify())"
            Name="options1" 
            Value="@FulfilmentOfInternshipObjectivesValues.Few_objectives_fulfilled.ToString()"
            TChecked="@string"
            @bind-Checked="@Options1"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(FulfilmentOfInternshipObjectivesValues.Most_objectives_fulfilled.ToString().Beautify())"
            Name="options1" 
            Value="@FulfilmentOfInternshipObjectivesValues.Most_objectives_fulfilled.ToString()"
            TChecked="@string"
            @bind-Checked="@Options1"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(FulfilmentOfInternshipObjectivesValues.All_objectives_adequately_objectives.ToString().Beautify())"
            Name="options1" 
            Value="@FulfilmentOfInternshipObjectivesValues.All_objectives_adequately_objectives.ToString()"
            TChecked="@string"
            @bind-Checked="@Options1"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.FulfilmentOfInternshipObjectivesComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label style="margin-bottom:5px;">
        2. ACADEMIC PREPARATION OF THE STUDENTS
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcademicPreparationOfTheStudentsValues.Below_average.ToString().Beautify())"
            Name="options2" 
            Value="@AcademicPreparationOfTheStudentsValues.Below_average.ToString()"
            TChecked="@string"
            @bind-Checked="@Options2"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcademicPreparationOfTheStudentsValues.Average.ToString().Beautify())"
            Name="options2" 
            Value="@AcademicPreparationOfTheStudentsValues.Average.ToString()"
            TChecked="@string"
            @bind-Checked="@Options2"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcademicPreparationOfTheStudentsValues.Good.ToString().Beautify())"
            Name="options2" 
            Value="@AcademicPreparationOfTheStudentsValues.Good.ToString()"
            TChecked="@string"
            @bind-Checked="@Options2"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcademicPreparationOfTheStudentsValues.Very_good.ToString().Beautify())"
            Name="options2" 
            Value="@AcademicPreparationOfTheStudentsValues.Very_good.ToString()"
            TChecked="@string"
            @bind-Checked="@Options2"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcademicPreparationOfTheStudentsValues.Excellent.ToString().Beautify())"
            Name="options2" 
            Value="@AcademicPreparationOfTheStudentsValues.Excellent.ToString()"
            TChecked="@string"
            @bind-Checked="@Options2"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.AcademicPreparationOfTheStudentsComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        3. INTEREST IN WORK/RESEARCH
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InterestInWorkResearchValues.Little_interest_or_enthusiasm.ToString().Beautify())"
            Name="options3" 
            Value="@InterestInWorkResearchValues.Little_interest_or_enthusiasm.ToString()"
            TChecked="@string"
            @bind-Checked="@Options3"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InterestInWorkResearchValues.Sometimes_interested.ToString().Beautify())"
            Name="options3" 
            Value="@InterestInWorkResearchValues.Sometimes_interested.ToString()"
            TChecked="@string"
            @bind-Checked="@Options3"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InterestInWorkResearchValues.Generally_interested.ToString().Beautify())"
            Name="options3" 
            Value="@InterestInWorkResearchValues.Generally_interested.ToString()"
            TChecked="@string"
            @bind-Checked="@Options3"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InterestInWorkResearchValues.Very_enthusiastic.ToString().Beautify())"
            Name="options3" 
            Value="@InterestInWorkResearchValues.Very_enthusiastic.ToString()"
            TChecked="@string"
            @bind-Checked="@Options3"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.InterestInWorkResearchComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        4. ABILITY TO LEARN
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AbilityToLearnValues.Requires_more_time_to_learn_new_concepts_or_takes_even_with_mentorship.ToString().Beautify())"
            Name="options4" 
            Value="@AbilityToLearnValues.Requires_more_time_to_learn_new_concepts_or_takes_even_with_mentorship.ToString()"
            TChecked="@string"
            @bind-Checked="@Options4"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AbilityToLearnValues.Can_learn_with_appropriate_mentorship_and_guidance_within_a_reasonable_time_frame.ToString().Beautify())"
            Name="options4" 
            Value="@AbilityToLearnValues.Can_learn_with_appropriate_mentorship_and_guidance_within_a_reasonable_time_frame.ToString()"
            TChecked="@string"
            @bind-Checked="@Options4"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AbilityToLearnValues.Generally_capable_of_learning_new_concepts_or_tasks_within_a_reasonable_time_frame.ToString().Beautify())"
            Name="options4" 
            Value="@AbilityToLearnValues.Generally_capable_of_learning_new_concepts_or_tasks_within_a_reasonable_time_frame.ToString()"
            TChecked="@string"
            @bind-Checked="@Options4"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AbilityToLearnValues.Exceptional_ability_to_learn_new_concepts_or_tasks_very_quickly.ToString().Beautify())"
            Name="options4" 
            Value="@AbilityToLearnValues.Exceptional_ability_to_learn_new_concepts_or_tasks_very_quickly.ToString()"
            TChecked="@string"
            @bind-Checked="@Options4"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.AbilityToLearnComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        5. INITIATIVE
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InitiativeValues.Always_waits_to_be_told_what_to_do_next.ToString().Beautify())"
            Name="options5" 
            Value="@InitiativeValues.Always_waits_to_be_told_what_to_do_next.ToString()"
            TChecked="@string"
            @bind-Checked="@Options5"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InitiativeValues.Acts_voluntarily_only_in_routine_time_matters.ToString().Beautify())"
            Name="options5" 
            Value="@InitiativeValues.Acts_voluntarily_only_in_routine_time_matters.ToString()"
            TChecked="@string"
            @bind-Checked="@Options5"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InitiativeValues.Demonstrates_some_initiative_on_selected_challenges.ToString().Beautify())"
            Name="options5" 
            Value="@InitiativeValues.Demonstrates_some_initiative_on_selected_challenges.ToString()"
            TChecked="@string"
            @bind-Checked="@Options5"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(InitiativeValues.Consistent_selfstarter_and_always_strives_to_add_value.ToString().Beautify())"
            Name="options5" 
            Value="@InitiativeValues.Consistent_selfstarter_and_always_strives_to_add_value.ToString()"
            TChecked="@string"
            @bind-Checked="@Options5"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.InitiativeComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        6. INDEPENDENCE
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(IndependenceValues.Requires_constant_mentorship_or_instruction.ToString().Beautify())"
            Name="options6" 
            Value="@IndependenceValues.Requires_constant_mentorship_or_instruction.ToString()"
            TChecked="@string"
            @bind-Checked="@Options6"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(IndependenceValues.Works_well_under_adequate_supervision.ToString().Beautify())"
            Name="options6" 
            Value="@IndependenceValues.Works_well_under_adequate_supervision.ToString()"
            TChecked="@string"
            @bind-Checked="@Options6"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(IndependenceValues.Can_usually_work_independently.ToString().Beautify())"
            Name="options6" 
            Value="@IndependenceValues.Can_usually_work_independently.ToString()"
            TChecked="@string"
            @bind-Checked="@Options6"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(IndependenceValues.Requires_minimal_supervision_very_independent.ToString().Beautify())"
            Name="options6" 
            Value="@IndependenceValues.Requires_minimal_supervision_very_independent.ToString()"
            TChecked="@string"
            @bind-Checked="@Options6"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.IndependenceComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        7. ORGANIZATION/PLANNING
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OrganizationPlanningValues.Generally_not_organized_and_ill_prepared_for_the_tasks_at_hand.ToString().Beautify())"
            Name="options7" 
            Value="@OrganizationPlanningValues.Generally_not_organized_and_ill_prepared_for_the_tasks_at_hand.ToString()"
            TChecked="@string"
            @bind-Checked="@Options7"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OrganizationPlanningValues.Occasionally_not_organized_and_unprepared_for_the_tasks_at_hand.ToString().Beautify())"
            Name="options7" 
            Value="@OrganizationPlanningValues.Occasionally_not_organized_and_unprepared_for_the_tasks_at_hand.ToString()"
            TChecked="@string"
            @bind-Checked="@Options7"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OrganizationPlanningValues.Generally_organized_and_usually_plans_ahead.ToString().Beautify())"
            Name="options7" 
            Value="@OrganizationPlanningValues.Generally_organized_and_usually_plans_ahead.ToString()"
            TChecked="@string"
            @bind-Checked="@Options7"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OrganizationPlanningValues.Very_organized_and_always_equipped_with_a_plan_of_action.ToString().Beautify())"
            Name="options7" 
            Value="@OrganizationPlanningValues.Very_organized_and_always_equipped_with_a_plan_of_action.ToString()"
            TChecked="@string"
            @bind-Checked="@Options7"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.OrganizationPlanningComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        8. QUALITY OF WORK/RESEARCH
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(QualityOfWorkResearchValues.Work_usually_completed_in_a_careless_manner_and_constantly_plagued_with.ToString().Beautify())"
            Name="options8" 
            Value="@QualityOfWorkResearchValues.Work_usually_completed_in_a_careless_manner_and_constantly_plagued_with.ToString()"
            TChecked="@string"
            @bind-Checked="@Options8"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(QualityOfWorkResearchValues.Work_usually_required_review__satisfactory_work__but_may_contain_some_errors.ToString().Beautify())"
            Name="options8" 
            Value="@QualityOfWorkResearchValues.Work_usually_required_review__satisfactory_work__but_may_contain_some_errors.ToString()"
            TChecked="@string"
            @bind-Checked="@Options8"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(QualityOfWorkResearchValues.Usually_thorough___Generally__good_work_with_very_few_errors.ToString().Beautify())"
            Name="options8" 
            Value="@QualityOfWorkResearchValues.Usually_thorough___Generally__good_work_with_very_few_errors.ToString()"
            TChecked="@string"
            @bind-Checked="@Options8"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(QualityOfWorkResearchValues.Very_thorough___Outstanding_attention_to_detail.ToString().Beautify())"
            Name="options8" 
            Value="@QualityOfWorkResearchValues.Very_thorough___Outstanding_attention_to_detail.ToString()"
            TChecked="@string"
            @bind-Checked="@Options8"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.QualityOfWorkResearchComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        9. ANALYTICAL/PROBLEM SOLVING SKILLS
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AnalyticalProblemSolvingSkillsValues.Usually_poorly_understanding_of_the_problems_at_hand__experiences_difficulty_in_evaluating_and_selecting_among_alternatives__consistently_gets_stuck_in_the_problem_solving_process.ToString().Beautify())"
            Name="options9" 
            Value="@AnalyticalProblemSolvingSkillsValues.Usually_poorly_understanding_of_the_problems_at_hand__experiences_difficulty_in_evaluating_and_selecting_among_alternatives__consistently_gets_stuck_in_the_problem_solving_process.ToString()"
            TChecked="@string"
            @bind-Checked="@Options9"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AnalyticalProblemSolvingSkillsValues.Sometimes_understands_the_problems_at_hand__analytical_skills_are_satisfactory_and_usually_require_assistance_in_solving_problems.ToString().Beautify())"
            Name="options9" 
            Value="@AnalyticalProblemSolvingSkillsValues.Sometimes_understands_the_problems_at_hand__analytical_skills_are_satisfactory_and_usually_require_assistance_in_solving_problems.ToString()"
            TChecked="@string"
            @bind-Checked="@Options9"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AnalyticalProblemSolvingSkillsValues.Generally_understands_the_problems_at_hand__good_analytical_skills_but_may_require_assistance_in_solving_problems.ToString().Beautify())"
            Name="options9" 
            Value="@AnalyticalProblemSolvingSkillsValues.Generally_understands_the_problems_at_hand__good_analytical_skills_but_may_require_assistance_in_solving_problems.ToString()"
            TChecked="@string"
            @bind-Checked="@Options9"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AnalyticalProblemSolvingSkillsValues.Always_understands_the_problems_at_hand__regularly_exercises_critical_thinking_and_systematic_problem_solving___Carefully_evaluates_and_selects_among_alternatives_and_successfully_solvers_problems_with_little_assistance.ToString().Beautify())"
            Name="options9" 
            Value="@AnalyticalProblemSolvingSkillsValues.Always_understands_the_problems_at_hand__regularly_exercises_critical_thinking_and_systematic_problem_solving___Carefully_evaluates_and_selects_among_alternatives_and_successfully_solvers_problems_with_little_assistance.ToString()"
            TChecked="@string"
            @bind-Checked="@Options9"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.AnalyticalProblemSolvingSkillsComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        10. DEPENDABILITY
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(DependabilityValues.Unreliable.ToString().Beautify())"
            Name="options10" 
            Value="@DependabilityValues.Unreliable.ToString()"
            TChecked="@string"
            @bind-Checked="@Options10"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(DependabilityValues.Sometimes_neglectful_or_careless.ToString().Beautify())"
            Name="options10" 
            Value="@DependabilityValues.Sometimes_neglectful_or_careless.ToString()"
            TChecked="@string"
            @bind-Checked="@Options10"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(DependabilityValues.Usually_dependable.ToString().Beautify())"
            Name="options10" 
            Value="@DependabilityValues.Usually_dependable.ToString()"
            TChecked="@string"
            @bind-Checked="@Options10"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(DependabilityValues.Completely_dependable__worry_free.ToString().Beautify())"
            Name="options10" 
            Value="@DependabilityValues.Completely_dependable__worry_free.ToString()"
            TChecked="@string"
            @bind-Checked="@Options10"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.DependabilityComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        11. ACCEPTANCE OF SUGGESTIONS AND CRITICISMS
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcceptanceOfSuggestionsAndCriticismsValues.Resents_suggestions_and_criticisms_by_supervisor___No_demonstrated_effort_to_improve.ToString().Beautify())"
            Name="options11" 
            Value="@AcceptanceOfSuggestionsAndCriticismsValues.Resents_suggestions_and_criticisms_by_supervisor___No_demonstrated_effort_to_improve.ToString()"
            TChecked="@string"
            @bind-Checked="@Options11"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcceptanceOfSuggestionsAndCriticismsValues.Reluctantly_accepts_suggestions_and_criticisms_by_supervisor___Very_little_demonstrated_effort_to_improve.ToString().Beautify())"
            Name="options11" 
            Value="@AcceptanceOfSuggestionsAndCriticismsValues.Reluctantly_accepts_suggestions_and_criticisms_by_supervisor___Very_little_demonstrated_effort_to_improve.ToString()"
            TChecked="@string"
            @bind-Checked="@Options11"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcceptanceOfSuggestionsAndCriticismsValues.Accepts_suggestions_and_criticisms_by_supervisor_and_usually_implements_corrective_behavior_over_time.ToString().Beautify())"
            Name="options11" 
            Value="@AcceptanceOfSuggestionsAndCriticismsValues.Accepts_suggestions_and_criticisms_by_supervisor_and_usually_implements_corrective_behavior_over_time.ToString()"
            TChecked="@string"
            @bind-Checked="@Options11"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AcceptanceOfSuggestionsAndCriticismsValues.Takes_prompt_action_in_response_to_suggestions_and_feedback_from_supervisor.ToString().Beautify())"
            Name="options11" 
            Value="@AcceptanceOfSuggestionsAndCriticismsValues.Takes_prompt_action_in_response_to_suggestions_and_feedback_from_supervisor.ToString()"
            TChecked="@string"
            @bind-Checked="@Options11"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.AcceptanceOfSuggestionsAndCriticismsComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        12. RELATIONS WITH OTHERS
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(RelationsWithOthersValues.General_difficulty_working_with_others.ToString().Beautify())"
            Name="options12" 
            Value="@RelationsWithOthersValues.General_difficulty_working_with_others.ToString()"
            TChecked="@string"
            @bind-Checked="@Options12"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(RelationsWithOthersValues.Has_difficulty_with_some_individuals.ToString().Beautify())"
            Name="options12" 
            Value="@RelationsWithOthersValues.Has_difficulty_with_some_individuals.ToString()"
            TChecked="@string"
            @bind-Checked="@Options12"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(RelationsWithOthersValues.Works_with_other_satisfactorily.ToString().Beautify())"
            Name="options12" 
            Value="@RelationsWithOthersValues.Works_with_other_satisfactorily.ToString()"
            TChecked="@string"
            @bind-Checked="@Options12"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(RelationsWithOthersValues.Works_very_well_with_others.ToString().Beautify())"
            Name="options12" 
            Value="@RelationsWithOthersValues.Works_very_well_with_others.ToString()"
            TChecked="@string"
            @bind-Checked="@Options12"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.RelationsWithOthersComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        13. ATTENDANCE AND PUNCTUALITY
    </label>
    <Stack Style="padding-left:12px;">
        <li><i>ATTENDANCE:</i></li>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Poor.ToString().Beautify())"
            Name="options13" 
            Value="@AttendanceAndPunctualityValues.Poor.ToString()"
            TChecked="@string"
            @bind-Checked="@Options13"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Fair.ToString().Beautify())"
            Name="options13" 
            Value="@AttendanceAndPunctualityValues.Fair.ToString()"
            TChecked="@string"
            @bind-Checked="@Options13"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Satisfactory.ToString().Beautify())"
            Name="options13" 
            Value="@AttendanceAndPunctualityValues.Satisfactory.ToString()"
            TChecked="@string"
            @bind-Checked="@Options13"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Good.ToString().Beautify())"
            Name="options13" 
            Value="@AttendanceAndPunctualityValues.Good.ToString()"
            TChecked="@string"
            @bind-Checked="@Options13"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Excellent.ToString().Beautify())"
            Name="options13" 
            Value="@AttendanceAndPunctualityValues.Excellent.ToString()"
            TChecked="@string"
            @bind-Checked="@Options13"/>

        <br />

        <li><i>PUNCTUALITY:</i></li>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Poor.ToString().Beautify())"
            Name="options14" 
            Value="@AttendanceAndPunctualityValues.Poor.ToString()"
            TChecked="@string"
            @bind-Checked="@Options14"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Fair.ToString().Beautify())"
            Name="options14" 
            Value="@AttendanceAndPunctualityValues.Fair.ToString()"
            TChecked="@string"
            @bind-Checked="@Options14"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Satisfactory.ToString().Beautify())"
            Name="options14" 
            Value="@AttendanceAndPunctualityValues.Satisfactory.ToString()"
            TChecked="@string"
            @bind-Checked="@Options14"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Good.ToString().Beautify())"
            Name="options14" 
            Value="@AttendanceAndPunctualityValues.Good.ToString()"
            TChecked="@string"
            @bind-Checked="@Options14"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(AttendanceAndPunctualityValues.Excellent.ToString().Beautify())"
            Name="options14" 
            Value="@AttendanceAndPunctualityValues.Excellent.ToString()"
            TChecked="@string"
            @bind-Checked="@Options14"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.AttendanceAndPunctualityComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <label>
        OVERALL PERFORMANCE
    </label>
    <Stack Style="padding-left:12px;">
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OverallPerformanceValues.Marginal.ToString().Beautify())"
            Name="options15" 
            Value="@OverallPerformanceValues.Marginal.ToString()"
            TChecked="@string"
            @bind-Checked="@Options15"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OverallPerformanceValues.Average.ToString().Beautify())"
            Name="options15" 
            Value="@OverallPerformanceValues.Average.ToString()"
            TChecked="@string"
            @bind-Checked="@Options15"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OverallPerformanceValues.Good.ToString().Beautify())"
            Name="options15" 
            Value="@OverallPerformanceValues.Good.ToString()"
            TChecked="@string"
            @bind-Checked="@Options15"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OverallPerformanceValues.Very_Good.ToString().Beautify())"
            Name="options15" 
            Value="@OverallPerformanceValues.Very_Good.ToString()"
            TChecked="@string"
            @bind-Checked="@Options15"/>
        <SfRadioButton 
            CssClass="option-value"
            Label="@(OverallPerformanceValues.Outstanding.ToString().Beautify())"
            Name="options15" 
            Value="@OverallPerformanceValues.Outstanding.ToString()"
            TChecked="@string"
            @bind-Checked="@Options15"/>
    </Stack>
    <FluentTextField Placeholder="Comments if any" @bind-Value=@StudentForm.OverallPerformanceComment>
        <label>
            Comments
        </label>
    </FluentTextField>

    <br />

    <h4>
        <b>EVALUATED BY</b>
    </h4>
    @if (IsRecruiterViewing)
    {
        <FluentTextField @bind-Value=@StudentForm.EvaluatedBy>
            <b>Supervior Name</b>
        </FluentTextField>
    }
    else
    {
        <b style="display:block;">@StudentForm.EvaluatedBy</b>
    }

    <br />
    <br />

    <div class="double-col">
        <Stack Style="flex:1;border-right:1px solid black;">
            <h4>
                <b>OVERALL SCORE</b>
            </h4>
            @if (IsRecruiterViewing)
            {
                <FluentNumberField @bind-Value=@StudentForm.OverallScore>
                    <b>Overall Score</b>
                </FluentNumberField>
            }
            else
            {
                <h5 style="padding-left:12px"><b style="display:block;">@StudentForm.OverallScore</b></h5>
            }

            <br />
            <br />
        </Stack>
        <Stack Style="flex:1;padding-left:30px;">
            <h4>
                <b>AVERAGE PROGRESS EVALUATION REPORT SCORE</b>
            </h4>
            <h5 style="padding-left:12px"><b>@StudentForm.AverageReportScore</b></h5>

            <br />
            <br />
        </Stack>
    </div>

    <br />

    <h4>
        <b>COMMENTS FROM STUDENT (If any)</b>
    </h4>
    @if (IsStudentViewing)
    {
        <FluentTextArea Placeholder="Student Comments" @bind-Value=@StudentForm.StudentComment>

        </FluentTextArea>
    }
    else
    {
        <label>@StudentForm.StudentComment</label>
    }

    <br />
</Stack>

<style>
    .option-value{
        margin-bottom:3px;
    }

    .double-col{
        display:flex;
    }

    .save-btn{
        position:fixed;
        bottom:50px;
        right:50px;
        z-index:100;
        width:75px;
        height:75px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        font-size:18pt;
        border-radius:50%
    }
</style>